{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "> 4%",
          "ie 11",
          "safari 8",
          "android 4.4"
        ]
      }
    }],
    ["minify", {
      "mergeVars": false
    }]
  ]
}
